@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
}

p{
    margin: 10px;
    text-align: justify;
}

h1, h2 {
    margin-bottom: 20px;
    line-height: 1.2em;
    text-align: left;
}

header, .normal {
    padding: 20px;

}

.flex-content {
    background-color: rgb(145, 145, 145);
}

.flex-content {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px;
    background-color: rgb(78, 78, 78);
}


article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
}

article > div.text {
    flex: 1 1 500px;

}

article > div.media {
    flex: 1 0 400px;
}

div.media > img{
    display: block;
    margin: auto;

    width: 300px;
    height: 300px;
}

div.media > iframe  {
    display: block;
    margin: auto;
    width: 90%;
}


footer{background-color: black; color: white; padding: 4px;}

footer > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}