@media screen and (max-width: 575px) {
    body {
        
    }

    header, header > nav {
        flex-flow: column nowrap;
    }

    header > h1 {
        flex-basis: 80px;
    }

    header > nav > a {
        width: 90vw;
    }
}