* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: black;
    color: white;
}
/*Header*/

header > nav{
    padding: 10px;
}

header > nav > #iconFXmobile {
    height: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;

    transform: translate(1px, 10px);
}
header > nav > #menuHamburguer {
    display: block;
    color: rgb(255, 255, 255);
    padding: 10px;
    cursor: pointer;
}

header > nav > #menu {
    display: none;
    padding: 10px;
}

#menu2 {
    display: flex;
    flex-direction: column;
}

img#iconFX {
    display: none;
    background-color: white;
    height: 20px;
}

header > nav > #menu > #menu2 > a {
    padding: 10px;
    padding-bottom: 2px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header > nav > #menu > #menu2 > a:hover {
    background-color: rgba(134, 134, 134, 0.197);
}

/*Fim do Header*/

main {
    height: 86vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

footer {
    display: none;
    text-align: center;
    padding: 0px;
    background-color: black;
    color: white;
    font-size: 0.9rem;
}



/* Animação para textos do main */
@keyframes subirFade {
    0% {
        opacity: 0;
        transform: translateY(50px); /* começa 50px abaixo */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* termina na posição normal */
    }
}

main h1, main p {
    opacity: 0; /* garante que começam invisíveis */
    animation: subirFade 1s ease-out forwards;
}

main p {
    animation-delay: 0.5s; /* aparece um pouco depois do h1 */
}



