 @media screen and (min-width: 768px) {
    header {
        background-color: black;
    }



    header > nav > #menuHamburguer {
        display: none;
    }

    header > nav > #menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    img#iconFX {
        display: block;
        background-color: white;
        height: 30px;

        border: 1px solid rgb(255, 255, 255);
        border-radius: 50%;
    }

    #menu2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    header > nav > #menu > #menu2 > a {
        color: white;
    }

    header > nav > #menu > #menu2 > a:hover {
        transition-duration: 1s;
        border-bottom: 1px solid white;
    }
}