@charset "UTF-8";

/*Declaracoes gerais*/
@media all {
    * {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    html, body {
        width: 100vw;
        height: 100vh;
        background-color: #233eff;
        background-size: contain;
        background-repeat: no-repeat;
    }

    h1 {
        color: white;
        text-shadow: 2px 2px 0px #152494;
        padding: 10px;
    }
}


/*Declaracoes para retrato*/
@media screen and (orientation: portrait){
    body {
        background-image: url(../imagens/cev-landscape.jpg);
        background-position: center bottom;
    }
}
/*Declaracoes para paisagem*/
@media screen and (orientation: landscape) {
    body {
        background-image: url(../imagens/cev-portrait.jpg);
        background-position: left bottom;
    }
}